.body {
  background-image: linear-gradient(to right, #aad321 0%, #7450fe 100%);
}
.container {
  margin: 30px;
  background-image: linear-gradient(to right, #aad321 0%, #7450fe 100%);
  color: white;
}
.h1 {
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: white;
}
footer {
  text-align: center;
  text-orientation: cornsilk;
  font-weight: bolder;
  background-image: linear-gradient(to right, #aad321 0%, #7450fe 100%);
}
